img.crypto-title-icon {
    max-width: 18px;
    vertical-align: top;
    margin-right: 5px;
}
.fancy-title img.crypto-title-icon {
  max-width: 26px;
}
.topic-featured-link.crypto-featured-link{
  text-transform: uppercase;
}
.list-button.topic-bookmark{
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  color: #919191;
  font-size: 18px;
  line-height: 1.25em;
  padding-top: 12px;

  &.bookmarked {
    color: $tertiary;
  }
}
.crypto-percentage{
  &.positive{
    color: #093;
  }
  &.negative{
    color: #d14836;
  }
}
.cryptocurrency-custom-widget {
  margin-bottom: 30px;

  .crypto-widget-id{
    display: inline-block;
    max-width: 200px;
    width:100%;
    vertical-align: top;

    img {
      max-width: 24px;
      vertical-align: bottom;
    }

    .crypto-name{
      font-size: 18px;
      font-weight: bold;
      padding-left: 5px;
    }

    .crypto-symbol {
      color: #919191;
      padding-left: 5px;
    }

    .crypto-rank {
      background-color: #5cb85c;
      border-radius:5px;
      color: #fff;
      display: inline-block;
      margin: 10px 0px 0px 0px;
      padding: 2px 7px;
    }
  }
  .crypto-data {
    display: inline-block;
    padding-left: 25px;
    width: 465px;

    .crypto-price-usd {
      font-size: 24px;
    }

    .crypto-change-24h {
      font-size: 24px; 
      margin-left: 10px;
    }
    .crypto-table-header{
      font-weight: bold;
    }
    .crypto-table-cell{
      display: inline-block;
      width: 25%;
    }
  }
}