img.crypto-title-icon {
    max-width: 18px;
    vertical-align: top;
    margin-right: 5px;
}
.fancy-title img.crypto-title-icon {
  max-width: 26px;
}
.topic-featured-link.crypto-featured-link{
  text-transform: uppercase;
}
.crypto-percentage{
  &.positive{
    color: #093;
  }
  &.negative{
    color: #d14836;
  }
}