img.crypto-title-icon {
    max-width: 18px;
    vertical-align: top;
    margin-right: 5px;
}
.fancy-title img.crypto-title-icon {
  max-width: 26px;
}
.topic-featured-link.crypto-featured-link{
  text-transform: uppercase;
}
.list-button.topic-bookmark{
  -webkit-appearance: none;
  border: none;
  color: #919191;
  font-size: 18px;
  line-height: 1.25em;
  padding-top: 12px;

  &.bookmarked {
    color: $tertiary;
  }
}
.crypto-percentage{
  &.positive{
    color: #093;
  }
  &.negative{
    color: #d14836;
  }
}